.link {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link:hover,
.link:active {
  background: linear-gradient(90deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  color: hsl(260, 100%, 70%);
  font-weight: bold;
  border-bottom: 2px solid hsl(260, 100%, 70%);
  transition: all 0.3s ease-in-out;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(260, 100%, 70%);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link::after {
  transform: scaleX(0);
}
